<div class="container-fluid">
    <!-- HEADER SECTION -->
    <header class="view-header">
        <h2 class="view-title">Doppler Dashboard</h2>
        <div class="breadcrumb-container">
            <span class="breadcrumb-item">Doppler Dashboard</span>
        </div>
    </header>
    <!-- END OF HEADER SECTION -->
</div>

<!-- METRIC BLOCKS SECTION -->
<div class="container-fluid sections-container">
    <div class="row">
        <div class="col-md-2 col-lg-2 app-list" *ngFor="let item of applications">
            <div class="rounded-item" [routerLink]="item.link">
                <div class="app-holder">
                    <span class="app-icon">
                        <i class="fa" aria-hidden="true" [ngClass]="item.icon"></i>
                    </span>
                    <span class="app-name">{{ item.name }}</span>
                </div>
                <span class="app-alerts">{{item.alerts}}</span>
            </div>
        </div>
    </div>
</div>
<!-- END OF METRIC BLOCKS SECTION -->